body
{
  font-family:'Open Sans', sans-serif;
  margin-left: auto;
  width: 1080px;
  height: 1920px;
  margin-right: auto;
  line-height: 1.5;
}
.list
{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
width: 1366px;
justify-content: center;
}

.pics
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 80px;
  padding-right: 20px;
  justify-content: center;
}
img
{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.player
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  justify-content: center;
}
h1
{
  color: #0b4dc7;
}
a{
  text-decoration: none;
}
a:active
{
  color: #0bc7c5;
}
li
{
  margin-bottom: 10px;
}
table
{
  margin-top: 20px;
  border-collapse: collapse;
  border-color: black;
  border: 1px solid black;
}
td,th
{
  text-align: center;
  padding: 3px;
  border: 1px solid black;
  padding: 10px;
}
.contacts
{
  font-size: 13px;
  background-color: #E2FAFD;
  width: 2000px;
  display: inline-block;
}
.links
{
  font-size: 15px;
  font-weight: bold;
  width: 170px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 60px;
}
